<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h2 class="my-2">
        <i class="bi bi-journal"></i>
       Catalogo de Productos
       <a href="/producto/admin/plist" class="btn btn-pink px-1 py-0"><i class="bi bi-fingerprint fs-5"></i></a>
      </h2>
      <div class="d-inline-flex mx-2">
        <input type="text" class="form-control" placeholder="Buscar" (keyup)="filter($event)" [(ngModel)]="strFiltro" />
      </div>

      <div class="d-inline-flex mx-2">
        <nav class="my-4">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.active]="nRpp === 10">
              <a class="page-link" (click)="goToRpp(10)" href="#">10</a>
            </li>
            <li class="page-item" [class.active]="nRpp === 50">
              <a class="page-link" (click)="goToRpp(50)" href="#">50</a>
            </li>
            <li class="page-item" [class.active]="nRpp === 100">
              <a class="page-link" (click)="goToRpp(100)" href="#">100</a>
            </li>
          </ul>
        </nav>
      </div>

      <nav class="my-2">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" [class.disabled]="nPage - -1 === 1" (click)="goToPrev()" href="#">
              Anterior
              <i class="bi bi-caret-left-square-fill"></i>
            </a>
          </li>

          <li class="page-item" *ngFor="let pag of arrBotonera">
            @if(pag==='...'){
            <a class="page-link">{{ pag }}</a>
            } @else {
            <a class="page-link" href="#" (click)="goToPage(-(-pag))" [class.active]="nPage - -1 === -(-pag)">
              {{ pag }}
            </a>
            }
          </li>

          <li class="page-item">
            <a class="page-link" [class.disabled]="nPage - -1 === oPage?.totalPages" (click)="goToNext()" href="#">
              <i class="bi bi-caret-right-square-fill"></i>
              Siguiente</a>
          </li>
        </ul>
      </nav>

      <div class="d-flex justify-content-between">
        @if (strFiltro.length>0) {
        <h5 class="text-muted">
          Filtrado por: <span class="text-danger">{{ strFiltro }}</span>
        </h5>
        } @else{
        <h5 class="text-muted">Sin filtrar</h5>
        }
        <h5 class="text-muted">
          Mostrando {{ oPage?.numberOfElements | number : "1.0-0" }} de
          {{ oPage?.totalElements | number : "1.0-0" }}
        </h5>
      </div>

      <div class="d-flex flex-direction-row flex-wrap justify-content-center">

        @for (producto of oPage?.content; track producto.id){
        <div class="card m-2" style="width: 18rem;">
          <!--<img src="assets/{{ producto.imagen }}" class="card-img-top" alt="..." /> -->
          <div class="card-body bg-pink">
            <h5 class="card-title">{{ producto.descripcion }}</h5>
            <p class="card-text">{{ producto.precio }}€</p>
            @if(producto.unidades==1){
              <p class="card-text text-danger"><small>Queda {{ producto.unidades }} unidad</small></p>
            } @else {
              <p class="card-text text-muted"><small>Quedan {{ producto.unidades }} unidades</small></p>
            }
           
            <a class="btn btn-pink" [routerLink]="['/compra/client/buy', producto.id]">Comprar</a>
          </div>
        </div>
        }

      </div>

    </div>
  </div>
</div>