<div class="container mt-4 d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="card bg-pink" style="width: 55rem; height: 40rem;">
    <div class="card-body d-flex flex-column align-items-center justify-content-center text-center" 
         style="height: 100%;">
      <h5 class="card-title my-5" style="font-size: 2rem; font-weight: bold;">
        {{ oProducto?.descripcion }}
      </h5>
      <h6 class="card-subtitle mb-4 text-muted" style="font-size: 1.5rem;">
        {{ oProducto?.precio }}€
      </h6>
      <p class="card-text" style="font-size: 1.2rem;">
        Este dibujo es del estilo {{ oProducto?.estilo }}
      </p>
      @if(oProducto?.unidades==1){
        <p class="card-text text-danger" style="font-size: 1.2rem;">Queda {{ oProducto?.unidades }} unidad</p>
      } @else {
        <p class="card-text text-muted" style="font-size: 1.2rem;">Quedan {{ oProducto?.unidades }} unidades</p>
      }
      <div class="d-flex justify-content-center mt-4">
        <p class="fs-3">¿Seguro que desea borrar el producto?</p>
      </div>
    
      <div class="d-flex justify-content-center mt-4">
        <button
          class="btn btn-warning mt-4 mx-1"
          [routerLink]="['/producto/admin/plist']"
        >
          <i class="bi bi-list"></i>
          Volver al listado de productos
        </button>
        <button class="btn btn-danger mt-4 mx-1" (click)="delete()">
          <i class="bi bi-trash"></i>
          Borrar producto
        </button>
      </div>
    </div>

<div
  class="modal fade"
  [id]="'mimodal'"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contante</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="hideModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ strMessage }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="hideModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>