<div class="container mt-5">
  <section class="about-section text-center">
      <h1 class="mb-4">About me</h1>
      <img src="../../../../assets/rosita.jpeg" class="rounded-circle mb-4" style="width: 150px;">
      <p class="mb-2">¡Hola! Esto es IswArt, un espacio dedicado a la comercialización de comisiones personalizadas y dibujos. Me apasiona el arte digital y ayudar a otros a encontrar la ilustración perfecta para sus proyectos.</p>
      <p class="mb-2">Con años de experiencia en el mundo del arte digital, me esfuerzo por ofrecer trabajos únicos y de alta calidad, adaptados a las necesidades de cada cliente.</p>
      <p class="mb-2">Aquí te dejo un ejemplo de varios trabajos encargados anteriormente:</p>
      <div class="d-flex flex-row align-items-center justify-content-center">
        <img src="../../../../assets/red.PNG" class="w-25 mx-4 my-4 rounded-4" style="height: 460px; object-fit: cover;">
        <a href="/contact" class="btn btn-outline-pink d-flex align-items-center justify-content-center" style="height: 60px; object-fit: cover;">Contáctame</a>
        <img src="../../../../assets/smoke.jpg" class="w-25 mx-4 my-4 rounded-4" style="height: 460px; object-fit: cover;">
    </div>
  </section>
</div>