<div class="container">
  <div class="bufon"></div>
  
  <div class="text-container">
    <h2>Bienvenid&#64; a <span class="highlight">IswArt</span>,</h2>
    <h2>un pequeño rinconcito por y para amantes del arte.</h2>
    <h2>¡Muchas gracias por visitar y apoyar mi página!</h2>

    <p class="typing-text">"El arte es la expresión del alma..."</p>
  </div>

  <button class="btn-explorar" [routerLink]="['/producto/client/plist']">Echa un vistazo</button>

  <div class="floating-stars"></div>
</div>
