<div class="container mt-4 d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="card bg-pink" style="width: 55rem; height: 40rem;">
    <div class="card-body d-flex flex-column align-items-center justify-content-center text-center" 
         style="height: 100%;">
      <h5 class="card-title my-5" style="font-size: 2rem; font-weight: bold;">
        {{ (oUsuario.nombre + ' ' + oUsuario.apellido1 + ' ' + oUsuario.apellido2)}}
      </h5>
      <p class="card-text"><i class="bi bi-envelope-heart"></i> {{ oUsuario.email }}</p>
      <p class="card-text"><i class="bi bi-telephone"></i> {{ oUsuario.telefono }}</p>
      <p class="card-text"><i class="bi bi-geo-alt"></i> {{ oUsuario.direccion }}</p>
      <div>
        <a class="btn btn-warning mx-2" [routerLink]="['/usuario/admin/edit/', oUsuario.id]"><i class="bi bi-pencil"></i></a>
        <a class="btn btn-danger mx-2"  [routerLink]="['/usuario/admin/delete/', oUsuario.id]"><i class="bi bi-trash"></i></a>
      </div>  
    </div>
  </div>
</div>