button{
    font-size: 1.2rem;
}

.text-pink {
    color: #f472b6;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}