<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h2 class="my-2">
        <i class="bi bi-key"></i>
        Cambiar contraseña
      </h2>

  <form [formGroup]="formPassword" (ngSubmit)="cambiarContrasena()">
        <!-- Contraseña actual -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Contraseña actual</mat-label>
          <input matInput type="password" formControlName="actual" />
          <mat-error *ngIf="formPassword.get('actual')?.hasError('required')">
            Campo obligatorio
          </mat-error>
        </mat-form-field>

        <!-- Nueva contraseña -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Nueva contraseña</mat-label>
          <input matInput type="password" formControlName="nueva" />
          <mat-error *ngIf="formPassword.get('nueva')?.hasError('required')">
            Campo obligatorio
          </mat-error>
          <mat-error *ngIf="formPassword.get('nueva')?.hasError('minlength')">
            Mínimo 6 caracteres
          </mat-error>
        </mat-form-field>

        <!-- Confirmar nueva contraseña -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Confirmar nueva contraseña</mat-label>
          <input matInput type="password" formControlName="confirmar" />
          <mat-error *ngIf="formPassword.get('confirmar')?.hasError('required')">
            Campo obligatorio
          </mat-error>
          <mat-error *ngIf="formPassword.hasError('mismatch')">
            Las contraseñas no coinciden
          </mat-error>
        </mat-form-field>

        <button class="btn btn-pink" type="submit" [disabled]="formPassword.invalid">
          Guardar contraseña
        </button>

      </form>
    </div>
  </div>
</div>

  <app-modal-generico class="modal"          
    *ngIf="mostrarModal"
    [tipo]="tipoModal"
    [titulo]="titulo"
    [mensaje]="mensaje"
    [cantidadInicial]="cantidadInicial"
    (cerrar)="cerrarModal()"
    (confirmar)="confirmarModal($event)">
    >
  </app-modal-generico>
