<footer class="bg-grey">
  <p class="copyright">© Copyright 2025 Iswart. All rights reserved</p>

  <a class="btn btn-footer icon-15" href="https://www.instagram.com/ppink._.panter?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-instagram"></i>
  </a>
  
  <a class="btn btn-footer icon-15" href="https://www.tiktok.com/@ppink_panter?is_from_webapp=1&sender_device=pc" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-tiktok"></i>
  </a>
  
  <a class="btn btn-footer icon-15" href="https://x.com/penecuchillo" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-twitter-x"></i>
  </a>
</footer>