<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand mx-5" href="#">IswArt</a>

    <div class="d-flex ms-auto mx-4">
      <button type="button" class="btn btn-outline-pink icon-15">
        <i class="bi bi-person-circle"></i>
      </button>
    </div>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [class.active]="strRuta == '/shared/menu'" aria-current="page" href="/shared/menu"><i class="bi bi-house-heart fs-5"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="strRuta == '/producto/client/plist'" href="/producto/client/plist"><i class="bi bi-journal fs-5"></i> Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="strRuta == '/admin/asiento/plist'" href="/admin/asiento/plist"><i class="bi bi-chat-left-heart fs-5"></i> Comision personalizada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="strRuta == '/admin/apunte/plist'" href="/admin/apunte/plist"><i class="bi bi-info-circle fs-5"></i> About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="strRuta == '/admin/subcuenta/plist'" href="/admin/subcuenta/plist"><i class="bi bi-telephone fs-5"></i> Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="strRuta == '/admin/asiento/plist'" href="/admin/asiento/plist"><i class="bi bi-bag-heart fs-5"></i> Pedidos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
