<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand mx-5" href="#" style="font-size: 1.8rem;">IswArt</a>

    <div class="d-flex ms-auto mx-4">
      <button type="button" class="btn btn-outline-pink icon-15" style="font-size: 1.4rem;">
        @if(activeSession){
          <a class="nav-link" 
          href="/usuario/client/view/{{oUsuario.id}}">
          <i class="bi bi-person-circle"></i>
          {{oUsuario.nombre}}
          </a>
        }@else{
          <a class="nav-link" style="font-size: 1.4rem;" 
          href="/login">
          <i class="bi bi-person-circle"></i>
          Log in
        </a>
      }
      </button>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [class.active]="strRuta == '/shared/menu'" aria-current="page" href="/shared/menu"><i class="bi bi-house-heart fs-5"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="strRuta.startsWith('/producto')" href="/producto/client/plist"><i class="bi bi-palette fs-5"></i> Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="strRuta.startsWith('/comision/')" href="/comision/client/book"><i class="bi bi-chat-left-heart fs-5"></i> Comision personalizada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="strRuta.startsWith('/aboutme')" href="/aboutme"><i class="bi bi-info-circle fs-5"></i> Sobre mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="strRuta.startsWith('/contact')" href="/contact"><i class="bi bi-telephone fs-5"></i> Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="strRuta.startsWith('/carrito')" href="/admin/asiento/plist"><i class="bi bi-cart4"></i> Carrito</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
