<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h2 class="my-2">
       <i class="bi bi-bag-heart-fill"></i>
        Detalles del pedido 
      </h2>
      <a class="informe btn btn-outline-pink mx-2" (click)="generarInforme()">Generar factura <i class="bi bi-filetype-pdf"></i></a>
      <div class="card shadow border-0 rounded-4 p-4 ">
        <!-- Cabecera del pedido -->
        <div class="row border-bottom pb-3 mb-3 ">
          <div class="col-md-6">
            <strong>Pedido: </strong>
            <span>{{ formatDate(oFactura.fecha.toString()) }}</span>
          </div>
          <div class="col-md-4">
            <strong>Nº pedido: </strong>
            <span>{{ oFactura.id }}</span>
          </div>
        </div>

        <!-- Tabla de productos -->
        <div class="table-responsive">
          <table class="table table-pink align-middle">
            <tbody>
              @for (lineafactura of oLineasFactura; track lineafactura.id){
              <tr>
                <!-- Imagen -->
                <td class="text-center" style="width: 200px;">
                  <img [src]="serverURL + '/producto/get/' + lineafactura.producto.id+ '/imagen'"  alt="{{lineafactura.producto.descripcion }}"/>
                </td>

                <!-- Descripción y enlace -->
                <td>
                  <a [href]="'/producto/client/view/' + lineafactura.producto.id" class="text-decoration-underline text-dark fw-semibold">
                    {{ lineafactura.producto.descripcion }}
                  </a>
                  <div class="fw-bold mt-1">{{ lineafactura.precio }} €</div>
                  <div class="text-muted">X{{ lineafactura.cantidad }} Unidad/es</div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>

