<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h2 class="my-2">
       <i class="bi bi-bag-heart-fill"></i>
        Detalles del pedido 
      </h2>
      <a class="informe btn btn-outline-pink mx-2" (click)="generarInforme()">Generar factura <i class="bi bi-filetype-pdf"></i></a>
      <div class="card shadow border-0 rounded-4 p-4 ">
        <!-- Cabecera del pedido -->
        <div class="row border-bottom pb-3 mb-3 ">
          <div class="col-md-6">
            <strong>Pedido: </strong>
            <span>{{ formatDate(oFactura.fecha.toString()) }}</span>
          </div>
          <div class="col-md-4">
            <strong>Nº pedido: </strong>
            <span>{{ oFactura.id }}</span>
          </div>
        </div>

        <!-- Tabla de productos -->
        <div class="table-responsive">
          <table class="table table-pink align-middle">
            <tbody>
              @for (lineafactura of oLineasFactura; track lineafactura.id){
              <tr>
                <!-- Imagen -->
                <td class="text-center" style="width: 200px;">
                  <img [src]="serverURL + '/producto/get/' + lineafactura.producto.id+ '/imagen'"  alt="{{lineafactura.producto.descripcion }}"/>
                </td>

                <!-- Descripción y enlace -->
                <td>
                  <a [href]="'/producto/client/view/' + lineafactura.producto.id" class="text-decoration-underline text-dark fw-semibold">
                    {{ lineafactura.producto.descripcion }}
                  </a>
                  <div class="fw-bold mt-1">{{ lineafactura.precio }} €</div>
                  <div class="text-muted">X{{ lineafactura.cantidad }} Unidad/es</div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>

<!-- <div
  class="modal fade"
  [id]="'mimodal'"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog">
    <div class="modal-content rounded-4 shadow-lg border-0">
      <div class="modal-header text-center border-0">
        <h5 class="modal-title w-100 text-pink fw-bold" id="exampleModalLabel">IswArt</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="hideModal()"
        ></button>
      </div>
      <div class="modal-body text-center py-4">
        <p class="fs-5 text-muted">{{ strMessage }}</p>
      </div>
      <div class="modal-footer justify-content-center border-0">
        <button
          type="button"
          class="btn btn-outline-secondary px-4 py-2 rounded-pill"
          data-bs-dismiss="modal"
          (click)="hideModal()"
        >
          No
        </button>
        <button
          type="button"
          class="btn btn-pink px-4 py-2 rounded-pill ms-2"
          data-bs-dismiss="modal"
          (click)="onYes()"
        >
          Sí
        </button>
      </div>
    </div>
  </div>
</div> -->