button{
    font-size: 1.2rem;
    margin-top: 15px;
}

.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}